@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 16px;
  font-family: Roboto, sans-serif;
}

#createNote {
  width: 20%;
  height: 32px;
  border: black solid 1px;
  border-radius: 8px;
  background-color: transparent;
}

#notesList {
  width: 100%;
}

.note {
  width: 100%;
  margin: 12px 0;
  border: black solid 1px;
  background-color: #fcfcac;
}

.noteInput {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}