@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 16px;
  font-family: Roboto, sans-serif;
  text-align: center;
  background-color: rgb(22, 22, 22);
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(22, 22, 22);
  padding: 8px 0;
}

#focusedNote {
  width: 100%;
  position: fixed;
  top: 48px;
  bottom: 64px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 8px;
  padding-top: 8px;
}

#notesList {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(22, 22, 22);
  padding: 8px 16px;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-color: white rgb(22, 22, 22);
}

button {
  max-width: 256px;
  height: 32px;
  margin: 8px;
  border: rgb(255, 255, 154) solid 1px;
  color: white;
  border-radius: 8px;
  background-color: transparent;
}

.note {
  width: 100%;
  padding: 0;
  margin: 12px 0;
}

.recentNotesTitle {
  color: white;
}

.selected {
  border: rgb(107, 241, 107) solid 1px;
}

/* Overwriting Editor.JS default styles */

.ce-block__content {
  background-color: #fcfcac;
  border: rgb(22, 22, 22) solid 1px;
  border-radius: 8px;
}

.codex-editor__redactor {
  padding-bottom: 0px !important;
}

.ce-paragraph.cdx-block {
  text-align: left;
  margin-left: 8px;
  margin-right: 8px;
}

.ce-toolbar__actions.ce-toolbar__actions--opened {
  background-color: rgba(255, 255, 255, 0.425);
  border-radius: 8px;
}